.landing {
 background: url(../img/person-typing.jpg) no-repeat center center;
 background-size: cover; 
 padding: 0 0;   
}

.landing-shadow {
 background-color: rgba(0, 0, 0, .4); 
 width: 100%;
 height: 100%;
}

.landing-shadow .pseudo-box {
 display: flex;
 align-items: center;
 height: 100vh;
}

.landing-text-area {
 height: 90%;
 width: 60%;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: center;
 color: #ffffff;
}

.landing-text-area a,
.landing-text-area h1,
.landing-text-area h2 {
 margin: 15px 0;
}

.landing-cta {
 padding: 10px 40px;
 border: 3px solid #ffffff;    
 font-size: 18px;
 color: #ffffff;
 background-color: transparent;
 text-decoration: none;
 transition: 1s all;
}

.landing-cta:hover {
 background-color: white;
 color: black;
}

@media screen and (min-width: 640px) {
 .landing-text-area {
  height: 35%;
  width: 60%;
  justify-content: center;
 } 
}

@media screen and (min-width: 1024px) {
 .landing-text-area {
  height: 35%;
  width: 65%;
 }
}