section.services {
  padding-bottom: 20px;
}

.services {
  background-color: #405D78;
}

.services .pseudo-box h1 {
  color: #ffffff;
  text-align: center;
}

.service-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-items: space-between;
  justify-content: center;
  margin: 35px 0 20px 0;
}

@media screen and (min-width: 1024px) {
  .services .pseudo-box h1 {
    text-align: left;
  }

  .service-wrapper {
    margin-top: 20px;
  }  
}