.about h1 {
 padding-bottom: 0px;
 color: #000000;
 text-align: center;
}

.about h2 {
 color: #000000;
}

.about {
 background-color: #F1F1F1;
}

.about-specialist {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 margin-top: 50px;
}

.about-specialist:last-child {
 margin-bottom: 0px;
}

.about-specialist-photo {
 width: 200px;
 height: 200px;

 background-size: cover;
 background-position: center;
 border-radius: 50%;
 flex-shrink: 0;
}

.about-specialist-photo--employee1 {
 background-image: url(../img/emloyee-03.jpg);
}

.about-specialist-photo--employee2 {
 background-image: url(../img/emloyee-04.jpg);
}

.about-specialist-photo--employee3 {
 background-image: url(../img/emloyee-05.jpg);
}

.about-specialist-description {
 display: flex;
 flex-direction: column;
 justify-content: center;
 padding: 50px 0 0 0;
 text-align: justify;
}

.about p {
 padding-top: 1rem;
}

@media screen and (min-width: 640px) {
 
 .about-specialist {
  flex-direction: row;
  margin-bottom: 20px;
 }

 .about-specialist-description {
     padding: 0;
 }

 .about-specialist-description {
     text-align: left;
 } 

 .about-specialist:nth-child(odd) .about-specialist-description {
     text-align: right;
 }

 .about-specialist:nth-child(odd) {
     flex-direction: row-reverse;
 }

 .about-specialist .about-specialist-photo {
     margin: 0 50px 0 0;
 }

 .about-specialist:nth-child(odd) .about-specialist-photo {
     margin: 0 0 0 50px;
 }
}

@media screen and (min-width: 1024px) {
 .about h1 {
  text-align: left;
 }
}