.service-box {
  display: flex;
  flex-direction: column;
  width: 70vw;

  position: relative;
  padding: 15px;
  margin: 15px 15px;
  background-color: #F1F1F1;
  justify-content: center;
  align-items: center;
  transition: .5s all;
}

.service-box:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.service-box-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 5%;
  text-align: center;
}

.service-box-dot {
  width: 38px;
  height: 38px;
  position: absolute;
  top: -19px;
  left: -19px;
  border-radius: 50%;
  background-color: #E07A64;
}

.service-box:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 640px) {
  .service-box {
    width: 35vw;       
    margin: 25px 25px;
  }

  .service-box-dot {
    width: 22px;
    height: 22px;        
    top: -11px;
    left: -11px;    
  }
}

@media screen and (min-width: 1024px) {
  .service-box {
    width: 200px;
    height: 200px;    
    margin: 30px 30px;
  }

  .service-box-dot {
    width: 22px;
    height: 22px;        
    top: -11px;
    left: -11px;    
  }
}