footer {
 background-color: #4E4E4E;   
}

footer .pseudo-box {
 height: 147px;    
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 align-items: center;
}

footer p {
 color: #ffffff;
 text-align: center;
}

.footer-react-icons {
 font-size: 30px;
 color: #ffffff;
 padding: 5px;
}

footer .footer-react-icons:hover {
 opacity: 0.5;
}

@media screen and (min-width: 1024px) {
 footer .pseudo-box {
  height: 72px;       
  flex-direction: row;
  justify-content: space-between;
 }
}

