/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
 box-sizing: border-box; 
 scroll-behavior: smooth;
}

body {
 font-family: Montserrat, helvetica, arial;
 line-height: 1.3;
}

p {
 font-size: 18px;    
}

a {
 text-decoration: none;
 cursor: pointer;
}

h1 {
 font-size: 36px;
 font-weight: 700;
 color: #ffffff;
}

h2 {
 font-size: 18px;
 font-weight: 700;
}

section {
 padding: 50px 0;
}

.pseudo-box {
 width: 92%;   
 margin: 0 auto;
}

.pseudo-box .company-name {
 float: left;
 display: block;
}

@media screen and (min-width: 640px) {
 .pseudo-box {
     width: 90vw;   
 }
}

@media screen and (min-width: 1024px) {
 .pseudo-box {
     width: 960px;   
 }
}