nav {
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 1;
  background-color: #4E4E4E;
}

nav .pseudo-box ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .6); 
}

nav .pseudo-box ul a {
  display: block;
  padding: 20px;    
  color: #ffffff;
  text-align: right;
}

nav .pseudo-box ul a:hover {
  background-color: #bbbbbb;
}

nav .pseudo-box {
  color: #f1f1f1;
  font-weight: 500;
}

nav .pseudo-box .company-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  color: #ffffff;
}

nav .pseudo-box .nav-menu {
  clear: both;    
  max-height: 0; 
  transition: max-height .2s ease-out;
}

nav .pseudo-box .nav-menu-icon {
  padding: 24px 0;
  position: relative;
  float: right;
  cursor: pointer;
}

nav .pseudo-box .nav-menu-icon .nav-icon-burger {    
  position: relative;
  background: rgb(206, 206, 206);
  display: block;
  height: 3px;
  width: 25px;
  transition: background .5s ease-out;
}

nav .pseudo-box .nav-menu-icon .nav-icon-burger::before {
  content: "";
  position: absolute;
  top: -10px;
  background: rgb(206, 206, 206);
  display: block;
  height: 100%;
  width: 100%;   
  transition: all .5s ease-out; 
}

nav .pseudo-box .nav-menu-icon .nav-icon-burger::after {
  content: "";
  position: absolute;
  top: 10px;
  background: rgb(206, 206, 206);
  display: block;
  height: 100%;
  width: 100%; 
  transition: all .5s ease-out;    
}

nav .pseudo-box .nav-menu-btn {
  display: none;
}

nav .pseudo-box .nav-menu-btn:checked ~ .nav-menu {
 max-height: 240px;
}

nav .pseudo-box .nav-menu-btn:checked ~ .nav-menu-icon .nav-icon-burger {
 background: transparent;
}

nav .pseudo-box .nav-menu-btn:checked ~ .nav-menu-icon .nav-icon-burger::before {
 top: 0;
 transform: rotate(-45deg);
}

nav .pseudo-box .nav-menu-btn:checked ~ .nav-menu-icon .nav-icon-burger::after {
 top: 0;
 transform: rotate(45deg);
}

.nav-items-disabled {
 opacity: 0.6;
 cursor: not-allowed;
}

@media screen and (min-width: 640px) {
 nav .pseudo-box ul {
  background-color: rgba(0, 0, 0, .0);
 }

 nav .pseudo-box li {
   float: left;
 }

 nav .pseudo-box li a {
   padding: 15px 15px;
 }

 nav .pseudo-box .nav-menu {
   clear: none;
   float: right;
   max-height: none;
 }

 nav .pseudo-box .nav-menu-icon {
   display: none;
 }
}

@media screen and (min-width: 1024px) {
 .nav-items {
  width: 20%;
 }
}